@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html {

    scroll-behavior: smooth
}



/* 
#393ee46; dark grayish bgcolor
bodyColor: #222831
*/

/* ============================ */
/* GLOBAL VARIABLES */
/* ============================ */

:root {
    --sideBGColor: #040b14;
    --themeColor: #00A78E;
    --iconBGColor: #2C2f3F;
    --textColor: #525252;
    --bgColor: #f7f7f7;
    --shadowColor: #058a76;
    --bodyColor: #222831;
    --shadow: 10px 10px 30px rgba(0,0,0,0.85);
}


/* CUSTOM SCROLLBAR */
body::-webkit-scrollbar {
    width: 0.6em;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 60px var(--bgColor)
}

body::-webkit-scrollbar-thumb {
    background-color: var(--themeColor);
}

.globalBtn {
    display: inline-block;
    text-decoration: none;
    background-color: var(--themeColor);
    padding: 12px 15px 9px 15px;
    color: var(--bgColor);
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 0 0 20px var(--shadowColor);
    margin-top: 55px;
    z-index: 21;
}

.globalBtn:hover {
    background-color: transparent;
    transform: translateY(-5px)
}

.center {
    text-align: center
}

.padding {
    padding: 120px 6%;
}

.border {
    position: relative;
}

.border::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 20%;
    height: 2px;
    background-color: var(--textColor);
    border-radius: 2px;
}


/* ============================ */
/* NAVBAR */
/* ============================ */
header {
    height: 100vh;
    position: fixed;
    padding: 15px 30px;
    width: 300px;
    overflow-y: auto;
    background: var(--sideBGColor);
    top: 0;
    bottom: 0;
    z-index: 99;
    transition: 0.4s 
}

header .profile {
    text-align: center;
    margin: 10px 0;
    
}

header .profile .img-social {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid var(--iconBGColor);
}



.profile-pic-div::before {
    content: '';
    background-image: conic-gradient(var(--themeColor) 20deg, transparent 120deg);
    width: 155px;
    height: 155px;
    top: 2.1%;
    left: 24.6%;
    position: absolute;
    /* background: green; */
    border-radius: 50%;
    /* z-index: -1 */
    animation: rotate 2s linear infinite;
}





.profile-pic {
    position: relative;
    width: 145px;
    height: 145px;
    border-radius: 50%;
}


header .profile h1 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
}

header .profile .social-icons img{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background: white;
    color: white;
    margin: 1.5px;
    transition: 0.4s;
    
}

header .profile .social-icons img:hover {
    background-color: var(--themeColor)
}

header nav {
    margin-top: 20px;
}
header nav ul li {
    list-style: none;
}
    header nav ul li a {
        display: inline-block;
        text-decoration: none;
        padding: 10px 20px;
        color: white;
        margin: 20px 0;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.6px;;
        margin-right: 10px;
        transition: 0.4s;
        position: relative;
    }

.lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header nav ul li a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background: var(--themeColor);
    bottom: -8px;
    left: 0;
    transition: 0.3s;
}

header nav ul li a:hover::after {
    width: 100%;
}



.header nav ul li .active {
    background: var(--themeColor);
}


/* FOOTER */
header .footer {
    text-align: center;
    background-color: var(--sideBGColor);
    color: lightgray;
    width: 300px;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}

header .footer p a {
    color: var(--themeColor)
}

/* Mobile nav toggle */
#menuBtn {
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: var(--themeColor);
    text-align: center;
    line-height: 42px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,20%);
    display: none;
    z-index: 999;
}



.mobile-nav-active header {
    left: 0;
}
.mobile-nav-active header  .footer{
    left: 0;
}
/* END OF HEADER CSS */

/* ----------------------------------------------------------------------------- */


/* Main Content */
main {
    margin-left: 300px;
    background-color: var(--bgColor);
    transition: 0.3s;
}



/* ============================ */
/* HOME */
/* ============================ */
#home {
    height: 100vh;
    width: 100%;
    background-image: url('./images/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    position: relative;
}

/* Overlay */
/* Make the background a little darker */
#home::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.45);
    position: absolute;
    top: 0;
    left: 0;
}

#home .home-row {
    z-index: 1;
}

#home .home-row h1{
    font-size: 100px;
    color: #fff;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;

}

#home .home-row h1 span {
    color: var(--themeColor)
}

#home .home-row p {
    color: whitesmoke;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    margin-top: 30px;
}

#home .home-row p span {
    padding-bottom: 15px;
    border-bottom: 4px solid var(--themeColor)
}

@media only screen and (max-width: 432px) {
    .tt {
      font-size: 29px !important;
    }
}


/* ============================ */
/* ABOUT ME */
/* ============================ */
#about {
    width: 100%;
    background-color: #222831;
    position: relative;
    transition: all 0.4s ease-in;
    
}


#about .col {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--bodyColor);
    box-shadow: var(--shadow);
    padding: 40px;
    border-radius: 8px;
}

.heading {
   
    color: var(--themeColor);
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 5px;;
}

.sub-para {
    color: #fff;
    margin-bottom: 10px;;
    line-height: 1.7;
    font-weight: 400;
    font-size: 18px;
}


/* bubble/circle animation */
#about::before {
    content: '';
    position: absolute;
    right: 2%;
    top: 0%;
    width: 120px;
    height: 120px;
    border: 10px solid var(--themeColor);
    border-radius: 50%;
    background-color: var(--shadowColor);
    animation: CircleMove 5s infinite;
}

.divider li {
    width: 25%;
    height: 2px;
    background-color: var(--themeColor);
    list-style: none;
    margin-bottom: 20px;;
}

.btns {
    margin-top: 20px;;
}

.btns a {
    margin: 0 10px;
    width: 150px;
}

.about__img {
    position: absolute;
    top: -20%;
    left: -15%;
    width: 150px;
    height: 150px;
    border: 5px solid var(--iconBGColor);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: 0.3s;
}

.about__img > img {
    width: 100%;
}

/* ============================ */
/* SKILLS */
/* ============================ */

#skills {
    position: relative;
    background: var(--bodyColor);
}

#skills h2 {
    position: relative;
    margin-bottom: 30px;
}

#skills h2::after {
    content: '';
    position: absolute;
    width: 7%;
    height: 2px;
    background-color: var(--themeColor);
    bottom: -10px;
    left: 46.5%;
}

#skills::before {
    content: '';
    position: absolute;
    left: 2%;
    top: 5%;
    width: 120px;
    height: 120px;
    border: 10px solid var(--themeColor);
    border-radius: 50%;
    background-color: var(--shadowColor);
    animation: CircleMove2 5s infinite;
}

#skills .skills-col {
    margin: 0 auto;
    margin-top: 70px;
    max-width: 650px;
   background-color: var(--bodyColor);
   box-shadow: var(--shadow);
   padding: 40px;
   border-radius: 4px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 30px;
}

.skill-item {
    width: 100%;
}

.skill-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-info h4 {
    font-weight: 400;
    font-style: italic;
    font-size: 17px;
    color: #fff;
}

.outer-line {
    width: 100%;
    height: 6px;
    background: var(--iconBGColor);
    margin: 7px 0;

}

.inner-line {
    height: 6px;
    width: 0%;
    background-color: var(--themeColor);
    position: relative;
    transition: width 2s ease-in-out;
}


.inner-line::after {
    content: '';
    position: absolute;
    right: 0;
    top: -5px;
    width: 15px;
    height: 15px;
    border: 2px solid var(--themeColor);
    border-radius: 50%;
    background-color: var(--bodyColor);
}


/* ============================ */
/* PROJECTS */
/* ============================ */
#projects {
    background: var(--bodyColor);
    z-index: 98;
}


.project-row {
    margin-top: 50px;
    margin-bottom: 70px;
    max-width: 1000px;

    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    border-top: 5px solid var(--themeColor);
    
}


.img-box {
    position: relative;
    background-color: var(--bodyColor);
    box-shadow: var(--shadow);
    border-radius: 8px;
    margin-top: 38px;
}

.img-box::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 48%;
    height: 50px;
    width: 5px;
    background: var(--themeColor);
    border-radius: 15px;
    z-index: -1;
   
}

.img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 7px;

}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
   
}

.img-info {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0%;
    width: 100%;
    background-color: var(--themeColor);
    text-align: center;
    border-radius: 2px;
    color: var(--bodyColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.5s; 
    opacity: 0;
}

.img-box:hover .img-info {
    height: 100%;
    opacity: 1;
}
.img-info h3 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.img-info div a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: var(--bodyColor);
    color: #fff;
    margin-right: 10px;
}

/* ============================ */
/* CONTACT */
/* ============================ */

#contact {
    background-color: var(--bodyColor);
  
}

.contact-row {
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
}

.contact-info {
    flex-basis: 50%;
}

.contact-form {
    flex-basis: 40%;
    background: var(--shadowColor);
    padding: 30px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    position: relative;
}

.contact-form form input, textarea {
    display: block;
    width: 100%;
    margin: 20px 0;
    font-size: 25px;
    font-weight: 400;
    border: none;
    outline: none;
    padding: 10px;
    background: none;
    color: var(--textColor);
    border-bottom: 1px solid var(--bodyColor);
    resize: none;
    color: #fff;
}

.contact-form form input::placeholder, textarea::placeholder {
    text-align: center;
    color: #fff;
}

form input[type='submit'] {
    border: none;
    background: var(--bodyColor);
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
    color: #fff;
}

.icon-lists  {
    margin: 30px 0
}
.icon-lists p  {
    margin: 20px 0;
    font-weight: 300;
    font-size: 17px;
    font-style: italic;
    color: #fff;
}


.icon-lists p i {
    color: var(--themeColor);
    margin-right: 10px;
    font-size: 20px;
}

.social-icon2 {
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.social-icon2 a {
    text-decoration: none;
    display: inline-block;
 
    width: 40px;
    height: 40px;
    background: var(--bodyColor);
    text-align: center;
    line-height: 1.7;
    font-size: 25px;
    color: #999;
    border-radius: 50%;
    transition: 0.4s;
}

.social-icon2 a:hover {
    background: var(--themeColor);
    color: var(--bodyColor)
}





/* ============================ */
/* ANIMATION/ KEYFRAMES */
/* ============================ */
@keyframes rotate {
    100% {
        transform: rotate(-360deg)
    }
}

@keyframes CircleMove {
    0% { 
        /* transform: translateX(-10%); */
        right: 2%
    }
    50% {
        /* transform: translateX(-100%); */
        right: 30%;
    }
    100% {
        /* transform: translateX(-10%); */
        right: 2%;
    }
}
@keyframes CircleMove2 {
    0% { 
        /* transform: translateX(-10%); */
        left: 18%
    }
    50% {
        /* transform: translateX(-100%); */
        left: 40%;
    }
    100% {
        /* transform: translateX(-10%); */
        left: 18%;
    }
}

/* making image bounce up and down */

/* @keyframes imgMove {
    0% {
        transform: translateY(0%)
    }
    50% {
        transform: translateY(-20%)
    }
    100% {
        transform: translateY(0%)
    }
} */

/* ============================ */
/* MEDIA QUERIES */
/* ============================ */

/* for mobile view */
@media only screen and (max-width: 670px) {
    #home {
        padding: 30px;
       
        
    }
    #home .home-row h1 {
        font-size: 45px;
        letter-spacing: 0;
        line-height: 50px;
    }
    
    #home .home-row p {
        color: whitesmoke;
        font-size: 30px;
        font-weight: 500;
    }
}


@media only screen and (max-width: 1080px) {
    header {
        left: -300px;
    }
    header .footer {
        left: -300px;
    }
    #menuBtn {
        display: block;
    }
    main {
        margin-left: 0;
    }
}

@media only screen and (max-width: 730px) {
    .about__img {
       left: 45%;
      
    }

    .col {
        width: 100%;
    }
}

@media only screen and (max-width: 432px) {
    
}

@media only screen and (max-width: 485px) {
    .btns a {
        margin: 10px 0;
        width: 100%;
    }
    .about__img {
        position: absolute;
        top: -27%;
        left: 35%;
       
    }
    #about::before, #skills::before {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .about__img {
        top: -15%;
        left: 65%
    }

    .col {
        width: 100%;;
    }
    #about::before, #skills::before {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .projects-row {
        grid-gap: 20px;
    }
}
@media only screen and (max-width: 1000px) {
    .projects-row {
        grid-gap: 30px;
    }
}

@media only screen and (max-width: 1150px) {
    #contact .contact-row {
        gap: 0;
    }
}
@media only screen and (max-width: 950px) {
    #contact .contact-row {
        text-align: center;
        flex-direction: column;
        gap: 40px;
    }
    .social-icon2 {
        justify-content: center;
    }
    #contact .contact-row .contact-form {
        width: 70%;
    }
}

@media only screen and (max-width: 650px) {
    .contact-form {
        width: 70%;
    }
}