@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/* 
#393ee46; dark grayish bgcolor
bodyColor: #222831
*/

/* ============================ */
/* GLOBAL VARIABLES */
/* ============================ */

:root {
    --sideBGColor: #040b14;
    --themeColor: #00A78E;
    --iconBGColor: #2C2f3F;
    --textColor: #525252;
    --bgColor: #f7f7f7;
    --shadowColor: #058a76;
    --bodyColor: #222831;
}


/* CUSTOM SCROLLBAR */
body::-webkit-scrollbar {
    width: 0.6em;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 60px var(--bgColor)
}

body::-webkit-scrollbar-thumb {
    background-color: var(--themeColor);
}

.globalBtn {
    display: inline-block;
    text-decoration: none;
    background-color: var(--themeColor);
    padding: 12px 15px 9px 15px;
    color: var(--bgColor);
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 0 0 20px var(--shadowColor);
    margin-top: 55px;
    z-index: 21;
}

.globalBtn:hover {
    background-color: transparent;
    transform: translateY(-5px)
}

.center {
    text-align: center
}

.padding {
    padding: 120px 6%;
}

.border {
    position: relative;
}

.border::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 20%;
    height: 2px;
    background-color: var(--bgColor);
    border-radius: 2px;
}


/* ============================ */
/* NAVBAR */
/* ============================ */
header {
    height: 100vh;
    position: fixed;
    padding: 15px 30px;
    width: 300px;
    overflow-y: auto;
    background: var(--sideBGColor);
    top: 0;
    bottom: 0;
    z-index: 99;
    transition: 0.4s 
}

header .profile {
    text-align: center;
    margin: 10px 0;
    
}

header .profile .img-social {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid var(--iconBGColor);
}



.profile-pic-div::before {
    content: '';
    background-image: conic-gradient(var(--themeColor) 20deg, transparent 120deg);
    width: 155px;
    height: 155px;
    top: 2.1%;
    left: 24.6%;
    position: absolute;
    /* background: green; */
    border-radius: 50%;
    /* z-index: -1 */
    animation: rotate 5s linear infinite;
}





.profile-pic {
    position: relative;
    width: 145px;
    height: 145px;
    border-radius: 50%;
}


header .profile h1 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
}

header .profile .social-icons img{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background: white;
    color: white;
    margin: 1.5px;
    transition: 0.4s;
    
}

header .profile .social-icons img:hover {
    background-color: var(--themeColor)
}

header nav {
    margin-top: 20px;
}
header nav ul li {
    list-style: none;
}
    header nav ul li a {
        display: inline-block;
        text-decoration: none;
        padding: 10px 20px;
        color: white;
        margin: 20px 0;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.6px;;

    }

.lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header nav ul li a  {
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}

header nav ul li a:hover  {
    padding: 10px 10px;
    /* background: var(--themeColor); */
    border-bottom: 1px solid var(--themeColor);
    /* border-radius: 10px; */
    transition: 0.3s ease-in;
}

.header nav ul li .active {
    background: var(--themeColor);
}


/* FOOTER */
header .footer {
    text-align: center;
    background-color: var(--sideBGColor);
    color: lightgray;
    width: 300px;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}

header .footer p a {
    color: var(--themeColor)
}

/* Mobile nav toggle */
#menuBtn {
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: var(--themeColor);
    text-align: center;
    line-height: 42px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,20%);
    display: none;
    z-index: 999;
}



.mobile-nav-active header {
    left: 0;
}
.mobile-nav-active header  .footer{
    left: 0;
}
/* END OF HEADER CSS */

/* ----------------------------------------------------------------------------- */


/* Main Content */
main {
    margin-left: 300px;
    background-color: var(--bgColor);
    transition: 0.3s;
}



/* ============================ */
/* HOME */
/* ============================ */
#home {
    height: 100vh;
    width: 100%;
    background-image: url('./images/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    position: relative;
}

/* Overlay */
/* Make the background a little darker */
#home::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.45);
    position: absolute;
    top: 0;
    left: 0;
}

#home .home-row {
    z-index: 1;
}

#home .home-row h1{
    font-size: 100px;
    color: #fff;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;

}

#home .home-row h1 span {
    color: var(--themeColor)
}

#home .home-row p {
    color: whitesmoke;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    margin-top: 30px;
}

#home .home-row p span {
    padding-bottom: 15px;
    border-bottom: 4px solid var(--themeColor)
}

/* for mobile view */
@media only screen and (max-width: 670px) {
    #home {
        padding: 30px;
       
        
    }
    #home .home-row h1 {
        font-size: 45px;
        letter-spacing: 0;
        line-height: 50px;
    }
    
    #home .home-row p {
        color: whitesmoke;
        font-size: 30px;
        font-weight: 500;
    }
}

/* ============================ */
/* ABOUT ME */
/* ============================ */
#about {
    width: 100%;
    background-color: #222831;
    position: relative;
    transition: all 0.4s ease-in;
    
}


#about .col {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--bodyColor);
    box-shadow: 10px 10px 30px rgba(0,0,0,0.85);
    padding: 40px;
    border-radius: 8px;
}

.heading {
   
    color: var(--themeColor);
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 5px;;
}

.sub-para {
    color: #fff;
    margin-bottom: 10px;;
    line-height: 1.7;
    font-weight: 400;
    font-size: 18px;
}


/* bubble/circle animation */
#about::before {
    content: '';
    position: absolute;
    right: 2%;
    top: 0%;
    width: 120px;
    height: 120px;
    border: 10px solid var(--themeColor);
    border-radius: 50%;
    background-color: var(--shadowColor);
    animation: CircleMove 5s infinite;
}

.divider li {
   
    width: 32%;
    height: 2px;
    background-color: var(--themeColor);
    list-style: none;
    margin-bottom: 20px;;
}

.btns {
    margin-top: 20px;;
}

.btns a {
    margin: 0 10px;
    width: 150px;
}

.about__img {
    position: absolute;
    top: -20%;
    left: -15%;
    width: 150px;
    height: 150px;
    border: 5px solid var(--iconBGColor);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: 0.3s;
}

.about__img > img {
    width: 100%;
}


/* ============================ */
/* ANIMATION/ KEYFRAMES */
/* ============================ */
@keyframes rotate {
    100% {
        transform: rotate(-360deg)
    }
}

@keyframes CircleMove {
    0% { 
        /* transform: translateX(-10%); */
        right: 2%
    }
    50% {
        /* transform: translateX(-100%); */
        right: 30%;
    }
    100% {
        /* transform: translateX(-10%); */
        right: 2%;
    }
}

/* making image bounce up and down */
/* 
@keyframes imgMove {
    0% {
        transform: translateY(0%)
    }
    50% {
        transform: translateY(-10%)
    }
    100% {
        transform: translateY(0%)
    }
} */

/* ============================ */
/* MEDIA QUERIES */
/* ============================ */

@media only screen and (max-width: 1080px) {
    header {
        left: -300px;
    }
    header .footer {
        left: -300px;
    }
    #menuBtn {
        display: block;
    }
    main {
        margin-left: 0;
    }
}

@media only screen and (max-width: 730px) {
    .about__img {
       left: 45%;
      
    }

    .col {
        width: 100%;
    }
}

@media only screen and (max-width: 485px) {
    .btns a {
        margin: 10px 0;
        width: 100%;
    }
    .about__img {
        position: absolute;
        top: -27%;
        left: 35%;
       
    }
}

@media only screen and (max-width: 450px) {
    .about__img {
        top: -15%;
        left: 65%
    }

    .col {
        width: 100%;;
    }
    #about::before {
        display: none;
    }
}

